<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">Burs Başvuru Sistemi</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-shell" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="nav-container nav-scrollable">
        <div class="nav-title">Menü</div>
        <nav class="flex-column">
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Başvuru Yap
                </NavLink>
            </div>
            <div class="nav-item px-1">
                <NavLink class="nav-link" href="burs-ver">
                    <span class="bi bi-heart-fill-nav-menu" aria-hidden="true"></span> Burs Ver
                </NavLink>
            </div>
        </nav>
    </div>
</div>
